:root {
  --primary-color: #b71c1c;
}

.app-nav {
  background-color: var(--primary-color);
  bottom: 0;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, .5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: 100;
}

@media(min-width: 500px) {
  .app-nav {
    align-items: center;
  }
}

.app-nav-toggler {
  cursor: pointer;
  padding: 1.5em 0;
  text-align: center;
  width: 100vw;
}

@media(min-width: 500px) {
  .app-nav-toggler {
    display: none;
  }
}

.app-nav-list {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  max-width: 1000px;
  justify-content: center;
  transition: cubic-bezier(0.55, 0.055, 0.675, 0.19) 100ms;
}

@media(min-width: 500px) {
  .app-nav-list {
    flex-direction: row;
    overflow-x: auto;
    text-align: center;
  }
}

.app-nav-item {
  align-items: stretch;
  padding-left: 4px;
  display: flex;
  flex-grow: 1;
  text-decoration: none;
}

@media(min-width: 500px) {
  .app-nav-item {
    max-width: 150px;
    padding: 4px 0;
  }
}

.app-nav-item a {
  color: white;
  flex-grow: 1;
  padding: 1.5em;
  text-decoration: none;
}

.app-nav-item {
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
}

.app.nav-toggler:hover,
.app.nav-toggler:focus,
.app-nav-item:hover,
.app-nav-item:focus {
  background-color: #c62828;
}

.app.nav-toggler:active,
.app-nav-item:active {
  background-color: #8e0000;
}

.current-app-nav {
  border-left: 4px solid #fff;
  padding-left: 0;
}

@media(min-width: 500px) {
  .current-app-nav {
    border-left: 0;
    border-top: 4px solid #fff;
    padding-top: 0;
  }
}

.sticky {
  position: sticky;
  top: 0;
}

.app-nav-collapsed {
  display: none;
}

@media(min-width: 500px) {
  .app-nav-collapsed {
    display: flex;
  }
}